$width-menu-xl: 1440px;
// SCSS fourni par le prof
h1,
h2,
h3,
h4,
p,
.s,
.s-bold,
.xs,
.xs-bold,
.link,
.link-bold,
.xs-link {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;

  @media screen and (min-width: $width-menu-xl) {
    font-size: 64px;
    line-height: 76.8px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;

  @media screen and (min-width: $width-menu-xl) {
    font-size: 32px;
    line-height: 38.4px;
  }
}

.s {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.s-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}

.xs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

.xs-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.link-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.xs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: underline;
}

$primary100: #cffefb;
$primary200: #a5fcf8;
$primary300: #68f8f3;
$primary400: #23edea;
$primary500: #07d3d3;
$primary600: #09aab1;
$primary700: #0f878f;
$primary800: #166f78;
$primary900: #165963;
$primary950: #083c44;

$secondary100: #fff3c6;
$secondary200: #ffe588;
$secondary300: #ffd34a;
$secondary400: #ffbd1d;
$secondary500: #f99c07;
$secondary600: #dd7402;
$secondary700: #b75106;
$secondary800: #943d0c;
$secondary900: #7a330d;
$secondary950: #461902;

$neutral0: #ffffff;
$neutral100: #f5f5f5;
$neutral150: #ededed;
$neutral200: #e6e6e6;
$neutral300: #d6d6d6;
$neutral400: #a5a5a5;
$neutral500: #767676;
$neutral600: #575757;
$neutral700: #434343;
$neutral800: #292929;
$neutral900: #1a1a1a;
$neutral950: #101010;

$other_warning: #ff8a22;
$other_warning-hover: #ff7800;
$other_blue-mds-logo: #43bccb;
$other_blue-mds-logo-icon: #65c8d5;

// infos design
body {
    margin: 0;
    padding: 0;
    .navbar {
      height: 70px;
      background-color: $primary700;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: $primary500 8px solid;
      .logo {
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .settings {
          margin-right: 16px;
          display: flex;
          align-items: center;
          gap: 16px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .profile-link {
            display: inline-flex; 
            align-items: center; 
            justify-content: center; 
            width: 25px; 
            height: 25px; 
            border-radius: 50%; 
            background-color: #333; 
            color: white; 
            text-decoration: none; 
            font-family: 'Inter', sans-serif;
            font-size: 8px; 
            font-weight: bold;
          }
      }
    }
    section {
        padding: 0 8%;
    }
    .hero-section {
      background-color: $primary950;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 96px;
      h1 {
        color: $primary100;
      }
      p {
        color: $neutral0;
      }
      video {
        margin: 24px 0;
        border: 5px solid $primary100;
        border-radius: 25px;
      }
    }
    .quiz-section {
        border-radius: 48px 48px 0 0;
        margin-top: -48px;
        background-color: $neutral100;
        margin-bottom: 24px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          text-align: center;
          color: $primary900;
        }
        p {
          text-align: center;
          color: $primary900;
          margin: 0;
        }
        button {
        background-color: $secondary400;
        color: $secondary900;
        border: none;
        padding: 15px 25px;
        border-radius: 25px;
        font-size: 16px;
        }
    }
    .challenge-section {
        background-color: #00C0D0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding-bottom: 24px;
        color: $neutral0;
        display: flex;
        flex-direction: column;
        h2 {
            margin-top: 72px;
            margin-bottom: 72px;
            text-align: center;
        }
        h4 {
            margin-bottom: 8px;
        }
        img {
            width: auto;
        }
        p {
            margin-bottom: 72px;
        }
        .img-container-left {
            background-color: $neutral0;
            margin-left: -72px;
            padding: 48px;
            border-radius: 25px;
            display: flex;
            justify-content: flex-end;
        }

        .img-container-right {
            background-color: $neutral0;
            margin-right: -72px;
            padding: 48px;
            border-radius: 25px;
            display: flex;
            justify-content: flex-start;
        }
    }
    @media screen and (min-width: $width-menu-xl) {
        .challenge-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .img-container-left {
            margin: 0px;
        }
        .img-container-right {
            margin: 0px;
        }
    }
}